## .NET
project.lock.json
project.fragment.lock.json
artifacts/
**/bin/
**/obj/

## Visual Studio
.vscode/
.vs/
.vscode/*
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/.*
.vscode/*.*
.DS_Store

## Mac
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
